.foo {
  position: relative;
  margin: auto;
  width: 50%;
  height: 200px;
  background-color: blue;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 50px black;
  -moz-box-shadow: 0 0 50px black;
  -ms-box-shadow: 0 0 50px black;
  -o-box-shadow: 0 0 50px black;
  box-shadow: 0 0 50px black;
}
.foo:hover {
  background-color: green;
}
.foo .far {
  position: absolute;
  width: 50%;
  height: 100px;
  background: red;
  left: 50%;
  margin-left: 25%;
}
.foo .far:after {
  position: absolute;
  content: "Hello Damon";
}
