
@import "mixins.less";

//vars

@blue = blue;



.foo{
	position: relative;
	margin: auto;
	width: 50%;
	height: 200px;
	background-color: @blue;
	.border-radius(20px);
	.box-shadow(0 0 50px black);
	
	&:hover{
			background-color: green;
		}
		
	.far{
		position: absolute;
		width: 50%;
		height: 100px;
		background: red;
		left: 50%;
		margin-left: (50% /2);
		
		&:after{
			position: absolute;
			content: "Hello Damon";
		}
	}
}
/* bum fuckers!!!! */