@blue = blue;



.foo{
	position: relative;
	margin: auto;
	width: 50%;
	height: 200px;
	background: @blue;
	
		:hover{
			background: green;
		}
		
	.far{
		position: absolute;
		width: 50%;
		height: 100px;
		background: white;
	}
}